.h5w-tabs-bottom { position: relative; } 
	.h5w-tabs-bottom .ui-tabs-panel { height: 140px; overflow: auto; } 
	.h5w-tabs-bottom .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 0.2em 0; } 
	.h5w-tabs-bottom .ui-tabs-nav li { margin-top: -2px !important; margin-bottom: 1px !important; border-top: none; border-bottom-width: 1px; }
	.ui-tabs-selected { margin-top: -3px !important; }
	
.h5w-main {
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 10px;
}
.h5w-card{
	height:50px;
}
.h5w-section {
	
}
.h5w-group a {
text-decoration:none;
color: #636363;
}
.h5w-group {
height:50px;
float:left;

}
.h5w-group-seperator {
height:50px;
width:1px;
background:#D1D1D1;
float:left;
margin-left:5px;
margin-right:5px;
}
.h5w-group-caption{

}
.h5w-group:hover .h5w-group-caption {
color: #707070;
}
.h5w-icon  , .h5w-icon-nojs{
	display:block;
	float:left;
	width:20px;
	height:20px;
	font-weight:bold;
}
.h5w-icon:hover , .h5w-icon-nojs:hover  {
	background-color: #ffdc6e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #c29037;

}
.h5w-content, #h5w-id-content , .h5w-texarea, #h5w-textarea-id{
padding:5px;
width:100%; 
height:500px; 
background:#FFF;
padding-bottom:30px;
}

.h5w-picker-area {
width:400px;
background: #FFF;
position: absolute;
top:1px;
left:1px;
display:none;
}
	.h5w-picker-red, .h5w-picker-green, .h5w-picker-blue , .h5w-picker-opacity{
		float: left;
		clear: left;
		width: 300px;
		margin: 3px;
	}
	.h5w-picker-swatch {
		width: 45px;
		height: 40px;
		margin-top: 2px;
		margin-left: 350px;
		background-image: none;
	}
	.h5w-picker-red .ui-slider-range { background: #ef2929; }
	.h5w-picker-red .ui-slider-handle { border-color: #ef2929; }
	.h5w-picker-green .ui-slider-range { background: #8ae234; }
	.h5w-picker-green .ui-slider-handle { border-color: #8ae234; }
	.h5w-picker-blue .ui-slider-range { background: #729fcf; }
	.h5w-picker-blue .ui-slider-handle { border-color: #729fcf; }
	.h5w-picker-opacity .ui-slider-range { background: #E6E6E6; }
	.h5w-picker-opacity .ui-slider-handle { border-color: #E6E6E6; }
	
.h5w-tablepicker-area {
background: #FFF;
position: absolute;
top:1px;
left:1px;
display:none;
}
.h5w-table-creator { border-collapse: collapse; }
.h5w-table-creator td, th { border: 1px #ccc solid; }
.h5w-tablepicker-area td {width: 10px; height:10px;}
.h5w-tablepicker-area .hover {background-color: #eee;}
.h5w-tablepicker-area a {width: 100%; height:100%; display:block; text-decoration: none; color : #FFF;}

.h5w-seperator  {display:block; float:left; background: url(../img/seperator.png) center 2px no-repeat; height:18px; width:2px;}
.h5w-picker  {display:block; float:left; background: #000; height:16px; width:8px; margin-top:2px; 
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}


.h5w-bold {background: url(../img/bold.png) center center no-repeat;}
.h5w-italic {background: url(../img/italic.png) center center no-repeat;}
.h5w-underline {background: url(../img/underline.png) center center no-repeat;}
.h5w-strike{background: url(../img/strike.png) center center no-repeat;}
.h5w-subscript{background: url(../img/subscript.png) center center no-repeat;}
.h5w-superscript{background: url(../img/superscript.png) center center no-repeat;}
.h5w-paragraph{background: url(../img/paragraph.png) center center no-repeat;}
.h5w-listordered{background: url(../img/listordered.png) center center no-repeat;}
.h5w-listunordered{background: url(../img/listunordered.png) center center no-repeat;}
.h5w-hrule{background: url(../img/hrule.png) center center no-repeat;}
.h5w-insertimage{background: url(../img/insertimage.png) center center no-repeat;}


.h5w-justifyleft{background: url(../img/justifyleft.png) center center no-repeat;}
.h5w-justifycenter {background: url(../img/justifycenter.png) center center no-repeat;}
.h5w-justifyright {background: url(../img/justifyright.png) center center no-repeat;}
.h5w-fontcolor {background: url(../img/font_color.png) center center no-repeat;}
.h5w-hilitecolor {background: url(../img/hilitecolor.png) center center no-repeat;}
.h5w-paste {background: url(../img/paste.png) top center no-repeat; width:45px; height:45px; text-align:center; padding-top:46px; margin-right:5px;}
.h5w-cut {background: url(../img/cut.png) center left no-repeat; height: 16px; width: 40px; padding-left:17px; margin-top:4px;}
.h5w-copy {background: url(../img/copy.png) center left no-repeat; height: 16px; width: 40px; padding-left:17px; margin-top:9px;}

.h5w-table {background: url(../img/table.png) top center no-repeat; width:48px; height:45px; text-align:center; padding-top:46px; margin-right:5px;}
.h5w-insertimage {background: url(../img/insertimage.png) top center no-repeat; width:48px; height:45px; text-align:center; padding-top:46px; margin-right:5px;}
.h5w-createlink {background: url(../img/createlink.png) top center no-repeat; width:48px; height:45px; text-align:center; padding-top:46px; margin-right:5px;}
.h5w-unlink {background: url(../img/unlink.png) top center no-repeat; width:48px; height:45px; text-align:center; padding-top:46px; margin-right:5px;}